
*{margin:0;padding:0;box-sizing:border-box}

body{
  min-height:100vh;
  font-family:system-ui,sans-serif;
  background-color: black;
  color: #fff;
}

.navbar{
  position:sticky;
  top:0;
  padding:1.5rem;
  z-index:1000;
}

.nav-content{
  max-width:900px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 2.5rem;
  border-radius:50px;
  background:rgba(255,255,255,.15);
  border:1px solid rgba(255,255,255,.25);
  backdrop-filter:blur(30px);
  box-shadow:0 8px 32px rgba(0,0,0,.15);
}

.logo{
  display:flex;
  align-items:center;
}

.logo img{
  height:45px;
  width:auto;
}


.nav-links{
  display:flex;
  gap:3rem;
  list-style:none;
}

.nav-links a{
  position:relative;
  color:rgba(255,255,255,.8);
  text-decoration:none;
  transition:.3s;
}

.nav-links a::after{
  content:"";
  position:absolute;
  inset:auto auto -5px 0;
  width:0;
  height:2px;
  background:#fff;
  transition:.3s;
}

.nav-links a:hover{color:#fff}
.nav-links a:hover::after{width:100%}

.menu-toggle,.menu-checkbox{display:none}

.menu-toggle span{
  display:block;
  width:22px;
  height:2px;
  margin:4px 0;
  background:#fff;
  transition:.3s;
}

/* RESPONSIVE */
@media (max-width:768px){
  .menu-toggle{display:block;cursor:pointer}

  .nav-links{
    position:absolute;
    top:75px;
    inset-inline:1.5rem;
    flex-direction:column;
    background:rgba(255,255,255,.15);
    border-radius:20px;
    max-height:0;
    opacity:0;
    overflow:hidden;
    transition:.3s;
  }

  .nav-links li{text-align:center;padding:1rem}

  .menu-checkbox:checked~.nav-links{
    max-height:200px;
    opacity:1;
  }

  .menu-checkbox:checked+.menu-toggle span{
    transition:.3s;
  }

  .menu-checkbox:checked+.menu-toggle span:nth-child(1){
    transform:rotate(45deg) translate(5px,5px)
  }
  .menu-checkbox:checked+.menu-toggle span:nth-child(2){
    opacity:0
  }
  .menu-checkbox:checked+.menu-toggle span:nth-child(3){
    transform:rotate(-45deg) translate(5px,-5px)
  }

  .nav-links a::after{display:none}
}


.hero{
  max-width:900px;
  margin:4rem auto;
  /* padding:0 2rem; */
  display:flex;
  align-items:center;
  justify-content:space-between;
  color:#fff;
  min-height:80vh;
  display:flex;
  align-items:flex-start;   /* move content up */
  padding-top:6rem;         /* control vertical position */
}





.hero-text h1{
  font-size:3.2rem;
  font-weight:700;
  line-height:1.1;
  margin-bottom:1rem;
  letter-spacing:-1px;
  font-style:oblique;

}

.hero-text p{
  max-width:480px;
  font-size:1.05rem;
  line-height:1.6;
  color:rgba(255,255,255,.85);
  font-style: italic;
}


.hero-image img{
  width:480px;
  height:auto;
}

/* Responsive */
@media(max-width:768px){
  .hero{
    flex-direction:column;
    text-align:center;
    gap:2rem;
  }

  .hero-image img{
    width:140px;
  }
}




    .bg-video{
  position:fixed;
  top:10px;
  left:180px;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}




.projects-preview{
  padding: 6rem 8%;
  background: rgb(0, 0, 0);
  box-shadow: 15px 15px 15px;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}

.project-item{
  position: relative;
  padding: 3rem 0;
  border-bottom: 1px solid rgba(255,255,255,.1);
  cursor: pointer;
}

.project-item h2{
  font-size: 3rem;
  color: #777;
  transition: .4s;
}

.project-item .count{
  color: #ff3c3c;
  margin-right: 1rem;
  font-weight: 600;
}

.project-item:hover h2{
  color: #fff;
  transform: translateX(10px);
}

/* VIDEO PREVIEW BOX */
.preview{
  position: absolute;
  top: 50%;
  right: 10%;
  width: 360px;
  height: 260px;
  transform: translateY(-50%) scale(.8);
  opacity: 0;
  pointer-events: none;
  transition: .4s ease;
  overflow: hidden;

  
  .project-preview video{
  width:100%;
  display:block;
  border-radius:10px;
}

  
}

.preview video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SHOW VIDEO ON HOVER */
.project-item:hover .preview{
  opacity: 1;
  transform: translateY(-50%) scale(1);
}

h2{
  color: black;
}