
*{margin:0;padding:0;box-sizing:border-box}

body{
  min-height:100vh;
  font-family:system-ui,sans-serif;
  background-color: black;
  color: #fff;
}

.navbar{
  position:sticky;
  top:0;
  padding:1.5rem;
  z-index:1000;
}

.nav-content{
  max-width:900px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:1rem 2.5rem;
  border-radius:50px;
  background:rgba(255,255,255,.15);
  border:1px solid rgba(255,255,255,.25);
  backdrop-filter:blur(30px);
  box-shadow:0 8px 32px rgba(0,0,0,.15);
}

.logo{
  display:flex;
  align-items:center;
}

.logo img{
  height:45px;
  width:auto;
}


.nav-links{
  display:flex;
  gap:3rem;
  list-style:none;
}

.nav-links a{
  position:relative;
  color:rgba(255,255,255,.8);
  text-decoration:none;
  transition:.3s;
}

.nav-links a::after{
  content:"";
  position:absolute;
  inset:auto auto -5px 0;
  width:0;
  height:2px;
  background:#fff;
  transition:.3s;
}

.nav-links a:hover{color:#fff}
.nav-links a:hover::after{width:100%}

.menu-toggle,.menu-checkbox{display:none}

.menu-toggle span{
  display:block;
  width:22px;
  height:2px;
  margin:4px 0;
  background:#fff;
  transition:.3s;
}

/* RESPONSIVE */
@media (max-width:768px){
  .menu-toggle{display:block;cursor:pointer}

  .nav-links{
    position:absolute;
    top:75px;
    inset-inline:1.5rem;
    flex-direction:column;
    background:rgba(255,255,255,.15);
    border-radius:20px;
    max-height:0;
    opacity:0;
    overflow:hidden;
    transition:.3s;
  }

  .nav-links li{text-align:center;padding:1rem}

  .menu-checkbox:checked~.nav-links{
    max-height:200px;
    opacity:1;
  }

  .menu-checkbox:checked+.menu-toggle span{
    transition:.3s;
  }

  .menu-checkbox:checked+.menu-toggle span:nth-child(1){
    transform:rotate(45deg) translate(5px,5px)
  }
  .menu-checkbox:checked+.menu-toggle span:nth-child(2){
    opacity:0
  }
  .menu-checkbox:checked+.menu-toggle span:nth-child(3){
    transform:rotate(-45deg) translate(5px,-5px)
  }

  .nav-links a::after{display:none}
}